tblib==1.7.0pickleshare==0.7.5chardet==3.0.4six==1.15.0tornado==5.1.1moviepy==0.2.3.5scipy==1.7.3jaxlib==0.3.14+cuda11.cudnn805idna==2.10imageio==2.4.1numexpr==2.8.3cycler==0.11.0jax==0.3.14debugpy==1.0.0pyparsing==3.0.9pycparser==2.21gym==0.21.0simplegeneric==0.8.1supersuit==3.3.3keras==2.8.0packaging==21.3tensorflow==2.8.2+zzzcolab20220719082949termcolor==1.1.0cloudpickle==1.3.0portpicker==1.3.9oauth2client==4.1.3pyasn1==0.4.8zipp==3.8.1dill==0.3.5.1wcwidth==0.2.5pyarrow==6.0.1requests==2.23.0numpy==1.21.6traitlets==5.1.1tqdm==4.64.0h5py==3.1.0pandas==1.3.5tensorboard==2.8.0urllib3==1.24.3pettingzoo==1.17.0google==2.0.3httplib2==0.17.4pexpect==4.8.0ptyprocess==0.7.0llvmlite==0.34.0matplotlib==3.2.2wrapt==1.14.1kiwisolver==1.4.4cffi==1.15.1ipywidgets==7.7.1gast==0.5.3etils==0.6.0pytz==2022.1rsa==4.9certifi==2022.6.15pathlib==1.0.1psutil==5.4.8pygments==2.6.1decorator==4.4.2astunparse==1.6.3torch==1.12.0+cu113astor==0.8.1flatbuffers==2.0uritemplate==3.0.1numba==0.51.2ipykernel==4.10.1