tblib==1.7.0
pickleshare==0.7.5
chardet==3.0.4
six==1.15.0
tornado==5.1.1
moviepy==0.2.3.5
scipy==1.7.3
jaxlib==0.3.14+cuda11.cudnn805
idna==2.10
imageio==2.4.1
numexpr==2.8.3
cycler==0.11.0
jax==0.3.14
debugpy==1.0.0
pyparsing==3.0.9
pycparser==2.21
gym==0.21.0
simplegeneric==0.8.1
supersuit==3.3.3
keras==2.8.0
packaging==21.3
tensorflow==2.8.2+zzzcolab20220719082949
termcolor==1.1.0
cloudpickle==1.3.0
portpicker==1.3.9
oauth2client==4.1.3
pyasn1==0.4.8
zipp==3.8.1
dill==0.3.5.1
wcwidth==0.2.5
pyarrow==6.0.1
requests==2.23.0
numpy==1.21.6
traitlets==5.1.1
tqdm==4.64.0
h5py==3.1.0
pandas==1.3.5
tensorboard==2.8.0
urllib3==1.24.3
pettingzoo==1.17.0
google==2.0.3
httplib2==0.17.4
pexpect==4.8.0
ptyprocess==0.7.0
llvmlite==0.34.0
matplotlib==3.2.2
wrapt==1.14.1
kiwisolver==1.4.4
cffi==1.15.1
ipywidgets==7.7.1
gast==0.5.3
etils==0.6.0
pytz==2022.1
rsa==4.9
certifi==2022.6.15
pathlib==1.0.1
psutil==5.4.8
pygments==2.6.1
decorator==4.4.2
astunparse==1.6.3
torch==1.12.0+cu113
astor==0.8.1
flatbuffers==2.0
uritemplate==3.0.1
numba==0.51.2
ipykernel==4.10.1
